body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50pxs;
}
.name-color{
    color: orange;
}
.first-half-left {
    width: 40%;
    float: left;
    margin-left: 5% ;
}


.first-half-right{
    width: 100%;
    
}